node_modules
.DS_Store
dist-ssr
*.local
crx
install
electron
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml
stats.html
dist/assets/*
dist/img/*
dist/howdz-dashboard.crx
dist/howdz-dashboard.zip

# Local ENV files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
