// :root{
//   --color-primary: #2e5adb;
//   --color-success: rgb(100, 201, 53);
//   --color-warning: rgb(233, 184, 77);
//   --color-danger: rgb(216, 94, 94);
//   --color-dark: #363636;
//   --color-white: #f9f9fa;
// }
@import "@/assets/variables.scss";

/* reset default */
body, p, h1, h2, h3, h4, h5, h6, div, ul, li, ol, dl, dd, dt,
nav, main, title, aside, footer, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

/* 浮动 */
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  clear: both;
  display: table;
}
.fl {
  float:left;
}
.fr {
  float: right;
}

/* 溢出省略号 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  position: relative;
  padding: 8px 16px;
  font-family: Roboto, sans-serif,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: $--color-dark;
  background: $--color-white;
  border: 1px solid $--color-dark;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 0 8px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  user-select: none;
  &:hover {
    filter: drop-shadow(0 2px 8px rgba($--color-dark, 0.32));
  }
  &.btn-small {
    font-size: 12px;
    padding: 6px 12px;
  }
  &.btn-radius {
    border-radius: 4px;
  }
  &.btn-primary {
    color: $--color-white;
    background: $--color-primary;
    border: none;
    &:hover {
      filter: drop-shadow(0 2px 8px rgba($--color-primary, 0.32));
    }
  }
  &.btn-success {
    color: $--color-white;
    background: $--color-success;
    border: none;
    &:hover {
      filter: drop-shadow(0 2px 8px rgba($--color-success, 0.32));
    }
  }
  &.btn-warn {
    color: $--color-white;
    background: $--color-warning;
    border: none;
    &:hover {
      filter: drop-shadow(0 2px 8px rgba($--color-warning, 0.32));
    }
  }
  &.btn-danger {
    color: $--color-white;
    background: $--color-danger;
    border: none;
    &:hover {
      filter: drop-shadow(0 2px 8px rgba($--color-danger, 0.32));
    }
  }
}

/* reset animation-dialog */
.animation-dialog-wrapper {
  z-index: 1500 !important;
}
.animation-dialog-wrapper .dialog .dialog-title .dialog-static-title:after {
  border-left: 4px solid $--color-primary !important;
}


/* animate.css flipInY*/
@keyframes flipInY {
  from {
    transform: perspective(400px) scale(0.5) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) scale(1) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
.animate__flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

/* vue transition fadeInUp */
.fadeInUp-enter-active {
  animation: fadeInUpCustom 0.5s;
}
.fadeInUp-leave-active {
  animation: fadeInUpCustom 0.5s reverse;
}
@keyframes fadeInUpCustom {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 320px;
}